SECRET_KEY=<secret_key_here>

POSTGRES_DB=<database_name_here>
POSTGRES_USER=<database_user_here>
POSTGRES_PASSWORD=<database_password_here>
POSTGRES_HOST=<database_host_here>
POSTGRES_PORT=<database_port_here>

CELERY_BROKER_URL=<celery_broker_url_here>
CELERY_RESULT_BACKEND=<celery_result_backend_here>

EMAIL_HOST_USER=<email_host_user_here>
EMAIL_HOST_PASSWORD=<email_host_password_here>

GOOGLE_CLIENT_ID=<google_client_id_here>
GOOGLE_CLIENT_SECRET=<google_client_secret_here>
GOOGLE_REDIRECT_URI=<google_redirect_uri_here>

CORS_ALLOWED_ORIGIN=<cors_allowed_origin_here>
ALLOWED_HOST=<allowed_host_here>
